
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap');
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

body{
    display: flex;
    flex-direction: column;
    width: 97%;
    margin: 0 auto;
}

.flex-container-nav{
    /* border: red 1px solid; */
    position: relative;
    top: 1vh;   
    display: flex;
    justify-content: space-between;
    align-items:center;
}

.flex-item-nav{
    /* border: blue 1px solid; */
}

.left-nav{
    width: 5vw;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.center-nav{
    border-radius: 5px;
    background-color: #f3f3f3;
    border: rgb(182, 182, 182) 1px solid;
    display: flex;
    justify-content: center;
    align-items: center;
}
input{
    width: 35vw;
    height: 3.5vh;
}
.img{
    width: 50px;
    background-color: #f3f3f3;
}
#search-icon {
    position: relative;
    left: 1vh;
    width: 24px;    
}


.right-nav{
    width: 10vw;
    height: 4vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.nav-icon{
    height: 24px;
    width: 24px;
}
#nav-youtube{
    height: 50px;
    width: 50px;
}

/* STYLE MAIN SECTION  */
.flex-container-main{
    background-color: #f3f3f3;
    /* border: red 1px solid; */
    margin-top: 3vh;
    display: flex;
}

#youtube-video{
    position: relative;
    overflow: hidden;
    width: 100%;
}
#youtube-title{
    margin-top: 1vh;
    display: block;
    font-size: large;
}
.flex-item-main-video{
    /* border: green 1px solid; */
    width: 70%;
    
}

.flex-item-main-suggestion-container{
    border: green 1px solid;
    width: 30%;
    display: flex;
    flex-direction: column;
}